/.DS_Store

/terraform/ec2_key.pub
/terraform/ec2_key

/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.tfstate.lock.info